{% extends 'Administracion/index.html' %}
{% block header %}
<h5>Listado de Celulares</h5>
<span>Aquí puede visualizar en un listado todos los celulares.</span>	
{% endblock %}

{% block home %}
<li class="breadcrumb-item">
        <a href="">Celulares</a> 																						
    </li>
	<li class="breadcrumb-item">
        <a href="">Listado de Celulares</a> 																						
    </li>	  
{% endblock %}

{% block contenido %}
<div class="card">
    <div class="card-header">    
        <h5>Listado de los Celulares</h5>
        <a href="{% url 'Administracion:CrearCelulares' %}">                             
            <button type="submit" class="btn btn-danger float-right">Nuevo Celular</button>
        </a>                    
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-striped table-bordered" id="example-1">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Marca</th>
                        <th>Serie imei</th>
                        <th>Precio mayor</th>
                        <th>Precio unidad</th>
                        <th>Fecha Creación</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cel in object_list %}
                    <tr>                        
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.id }}</span>                            
                        </td>
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.codigo }}</span>                            
                        </td>                     
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.marca }}</span>                            
                        </td>
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.serieimei }}</span>                            
                        </td>
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.preciomayor }}</span>                            
                        </td>
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.preciounidad }}</span>                           
                        </td>
                        <td class="tabledit-view-mode">
                            <span class="tabledit-span">{{ cel.creacion }}</span>                            
                        </td>                                                   
                        <td>
                            <div style="text-align: left;">
                                <div class="btn-group btn-group-sm">
                                    <a href="{% url 'Administracion:ActualizarCelulares' cel.id %}">
                                        <button type="button" class="btn btn-primary btn-sm" style="float: none;margin: 0px;">                                                                                    
                                            <span class="icon-pencil">                                                   
                                            </span>                                                                                                                           
                                        </button>
                                    </a> 
                                    <a href="{% url 'Administracion:EliminarCelulares' cel.id %}">
                                        <button type="button" class="btn btn-danger btn-sm" style="float: none;margin: 0px;">                                                                                    
                                            <span class="icon-trash-o">                                                   
                                            </span>                                                                                                                           
                                        </button>
                                    </a> 
                                </div>
                            </div>
                        </td>                        
                    </tr>         
                    {% endfor %}            
                </tbody>
            </table>
        </div>        
    </div>
</div>
{% endblock %}