{% load static%}
{% load staticfiles %}
<html>
<head>
	<title>Acerca de</title>
</head>
<body>
     <div class="w3-container w3-teal">
<h1>Cel Movil</h1>
    <div >
    <section>
    <p id="div1">
    En CEL-MOVIL te ofrecemos venta de celulares de gama baja, media y alta, accesorios, repuestos, y reparaciones para todas las marcas. Contamos con las soluciones tecnológicas para tu dispositivo movil con precios competitivos, agregando profesionalismo y cuidado en cada paso de nuestro servicio y atención.
    Nos impulsa el reto de hacer negocios honestos y transparentes, cuidar al cliente y sus intereses tanto como los nuestros.
    </p>
    </section>
    </div>
    <div >
     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1924.4666365027258!2d-91.74956875914584!3d15.271434321691885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x858c3164bb8ddb17%3A0x5602dc803aa928f7!2sParque%20Central%20San%20Miguel%20Ixtahuac%C3%A1n!5e0!3m2!1ses-419!2sgt!4v1568998234972!5m2!1ses-419!2sgt" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" id ="div2"></iframe>
    </div>
    <div >
    <p id="div3">
        Contactenos con gusto de atenderemos <br>
        Celular: 53674688; <br>
        correo elecectrónico: celmovil1979@gmail.com <br>
        facebok /celmovil 
    </p>
    </div>
</div> 

</html>