{% load staticfiles i18n %}
<title>PRODUCTOS</title>
</head>

	<h1>Productos</h1>
	    <table class="table">
    <thead>
    
    </thead>
    <tr>
    	<td>
    	<td>Antes Q. <br>
            Ahora Q.
        </td>
    	<td><img src="{% static 'Principal/images/skyf2.jpeg' %}"/></td>
    	</td>
    	<td>
    	<td>Antes Q. <br>
            Ahora Q.
        </td>
    	<td><img src="{% static 'Principal/images/kgtelkt110.jpg' %}"/></td>
    	</td>
    </tr>
    <tr>
    	<td>
    	<td>Antes Q. <br>
            Ahora Q.
        </td>
    	<td><img src="{% static 'Principal/images/nokia1.webp' %}"/></td>
    	</td>
   		<td>
    	<td>Antes Q. <br>
            Ahora Q.
        </td>
    	<td><img src="{% static 'Principal/images/huaweiy9.webp' %}"/></td>
    	</td>
    </tr>
    </table>